@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*
*   Keyboard Styling:
*/

#keyboard {
    clip-path: inset(5px 0px 0px 0px);
    transform: translate(0, -5px);
    padding-left: 4%;
    padding-right: 4%;
}

.keyboard-top{
    background-color:#3C3C3C;
    min-height: 150px;
    max-height: 200px;

    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.keyboard-bottom {
    background-color:#1C1C1C;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.keyboard-separator {
    background-color:#2C2C2C;
    margin-right: 5%;
    margin-left: 5%;

    padding-bottom: 20px;
    height: 20px;
}

/*
*   Separator Styling:
*/

.separator-nav {
    user-select: none;
    color:#BBB;

    text-align: justify;

    margin-left: 20%;
    margin-right: 20%;

    padding-top: 10px;
}

.separator-nav::after {
    display: inline-block;
    content: '';
    width: 100%;
}

/*
*   Separator Elements Styling:
*/
.nav-element {
    position: relative;
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
}

.nav-element:hover {
    color:#EEE;
}

.nav-element:active {
    color: #feffb9;
}

.start-btn {
    position: relative;
    left: 2%;
    top: 5%;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

/*
*   Chord Display:
*/
.menu-display {
    user-select: none;

    transform: translate(-50%, 0);
    display: inline-block;
    position: relative;
    width: 35%;
    left: 50%;

    margin-top: 20px;
    margin-bottom: 15px;

    background-color: #555555;
    color: #FFFFF7;
    border-radius: 10px;

    font-family: 'Spartan', sans-serif;
    font-size: 32px;

    vertical-align: middle;
    text-align: center;
    line-height: 160px;
}

.menu-key-range {
    position: relative;
    float: right;
    right: 10px;
    top: 90px;

    background-color: #1C1C1C;
    color: #CCC;
    height: 72px;

    font-family: 'Spartan', sans-serif;
    font-size: 16px;

    vertical-align: middle;
    text-align: center;
    line-height: 24px;

    margin-left: 3px;
    margin-right: 3px;

    width: 30px;

    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 4px;

    user-select: none;
}

.menu-key-btn:hover {
    color: rgb(255, 237, 179);
}

.menu-key-btn:active {
    color: #ffc82f;
}


/* 
    Key Styling 
*/
.white-key {
    stroke: #555555;
    fill: #FFFFF7;
}

.black-key {
    stroke: #979797;
    fill: #4B4B4B;
}

.white-key-text {
    font-size: 1.3em;
    pointer-events: none;
    user-select: none;
}

.black-key-text {
    font-size: 1em;
    fill: white;
    font-weight: 200;
    pointer-events: none;
    user-select: none;
}

.show {
    fill: #999;
}

.show.black-key ~ text {
    fill: black;
}