* {
    margin: 0;
    padding: 0;
}

#keyboard {
    clip-path: inset(15px 0px 0px 0px);
    margin-top: -15px;
    padding-left: 20px;
    padding-right: 20px;
}

.start-btn {
    position: relative;
    left: 2%;
    top: 5%;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.keyboard-display{
    background-color:#3C3C3C;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.keyboard-separator {
    background-color:#2C2C2C;
    margin-right: 20px;
    margin-left: 20px;
    height: 15px;
}

.chord-display {
    transform: translate(-80px, 0px);
    background-color: #979797;
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 10px;

    top: 0px;
    left: 50%;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', Geneva, sans-serif;
    font-size: 32px;
    color: #FFFFF7;
    vertical-align: middle;
    text-align: center;
    line-height: 160px;
}

.white-key {
    stroke: #555555;
    fill: #FFFFF7;
}

.black-key {
    stroke: #979797;
    fill: #4B4B4B;
}

.white-key-text {
    font-size: 1.3em;
    pointer-events: none;
    user-select: none;
}

.black-key-text {
    font-size: 1em;
    fill: white;
    font-weight: 200;
    pointer-events: none;
    user-select: none;
}

.show {
    fill: #999;
}

.show.black-key ~ text {
    fill: black;
}